.header{
    display: flex;
    background-color: green;
 align-items: center;
    gap: 50px;
}
.nav-list{
    display: flex;
    

}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
ul{
    display: flex;
    align-items: center;
    gap: 50px
}
 

div{
    display: flex;
    background-color: green;
    align-items: center;
    gap: 50px;
}
a:hover{
    color: bisque;
    
}
a{
    transition: 2s;
}

.logo:hover{
 transform: rotate(360deg);
}
img:hover{
    transform: scale(0.8111);
    cursor: pointer;
    


}
img{
    transition: 2s;

}
img{
    display: block;
    margin: 0 auto ;
}
h2{
  text-align: center;
  
}
.skills-list{
    display: flex;
    justify-content: center;
}

